{% extends 'base.html.twig' %}

{% block title %}RosineDraftsPositions index{% endblock %}

{% block body %}
    <h1>RosineDraftsPositions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CompanyId</th>
                <th>DraftId</th>
                <th>PosiId</th>
                <th>ArtNumber</th>
                <th>PosiAmmount</th>
                <th>PosiUnit</th>
                <th>PosiPrice</th>
                <th>PosiLocation</th>
                <th>PosiSerial</th>
                <th>PosiText</th>
                <th>PosiTax</th>
                <th>Done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rosine_drafts_position in rosine_drafts_positions %}
            <tr>
                <td>{{ rosine_drafts_position.companyId ? 'Yes' : 'No' }}</td>
                <td>{{ rosine_drafts_position.draftId }}</td>
                <td>{{ rosine_drafts_position.posiId }}</td>
                <td>{{ rosine_drafts_position.artNumber }}</td>
                <td>{{ rosine_drafts_position.posiAmmount }}</td>
                <td>{{ rosine_drafts_position.posiUnit }}</td>
                <td>{{ rosine_drafts_position.posiPrice }}</td>
                <td>{{ rosine_drafts_position.posiLocation }}</td>
                <td>{{ rosine_drafts_position.posiSerial }}</td>
                <td>{{ rosine_drafts_position.posiText }}</td>
                <td>{{ rosine_drafts_position.posiTax ? 'Yes' : 'No' }}</td>
                <td>{{ rosine_drafts_position.done ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('rosine_drafts_positions_show', {'companyId': rosine_drafts_position.companyId}) }}">show</a>
                    <a href="{{ path('rosine_drafts_positions_edit', {'companyId': rosine_drafts_position.companyId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rosine_drafts_positions_new') }}">Create new</a>
{% endblock %}
